body {
    background-image: url("coffee.jpg");
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.992);
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(172, 127, 31);
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

#save-btn {
    background: rgb(80, 104, 53);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    background:beige;
    max-width: 70%;
    margin: auto;
    border: 5px solid rgb(227, 166, 116);
    border-radius: 25px;
    margin-top: 50px;
}
